In [79]:
import pandas as pd
import numpy as np

In [80]:
ds = pd.read_csv("unclean_smartwatch_health_data.csv")

In [81]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6
...,...,...,...,...,...,...,...
9995,1524.0,78.819386,98.931927,2948.491953,7.402748595032027,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.3821659358529015,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.91654920303435,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691233932149209,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001039740254,Actve,5

In [82]:
ds.dtypes

User ID                   float64
Heart Rate (BPM)          float64
Blood Oxygen Level (%)    float64
Step Count                float64
Sleep Duration (hours)     object
Activity Level             object
Stress Level               object
dtype: object

In [83]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User ID                 9799 non-null   float64
 1   Heart Rate (BPM)        9600 non-null   float64
 2   Blood Oxygen Level (%)  9700 non-null   float64
 3   Step Count              9900 non-null   float64
 4   Sleep Duration (hours)  9850 non-null   object
 5   Activity Level          9800 non-null   object
 6   Stress Level            9800 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

In [84]:
ds.head()

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6

In [85]:
ds.tail()

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
9995,1524.0,78.819386,98.931927,2948.491953,7.402748595032027,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.3821659358529015,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.91654920303435,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691233932149209,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001039740254,Actve,5

In [86]:
ds.shape

(10000, 7)

In [87]:
ds.describe()

           User ID  Heart Rate (BPM)  Blood Oxygen Level (%)    Step Count
count  9799.000000       9600.000000             9700.000000   9900.000000
mean   3007.480253         76.035462               97.841581   6985.685885
std    1150.581542         19.412483                1.732863   6885.809680
min    1001.000000         40.000000               90.791208      0.910138
25%    1997.500000         64.890152               96.662683   2021.039657
50%    2998.000000         75.220601               98.010642   4962.534599
75%    4004.000000         85.198249               99.376179   9724.902880
max    4999.000000        296.593970              100.000000  62486.690753

In [88]:
ds.columns

Index(['User ID', 'Heart Rate (BPM)', 'Blood Oxygen Level (%)', 'Step Count',
       'Sleep Duration (hours)', 'Activity Level', 'Stress Level'],
      dtype='object')

In [89]:
ds.isnull().sum()

User ID                   201
Heart Rate (BPM)          400
Blood Oxygen Level (%)    300
Step Count                100
Sleep Duration (hours)    150
Activity Level            200
Stress Level              200
dtype: int64

In [90]:
# Clean Categorical Entries 
# Standardize Activity Level values
activity_map = {
    'Highly_Active': 'Highly Active',
    'highly_active': 'Highly Active',
    'Seddentary': 'Sedentary',
    'Actve': 'Active',
    'Active': 'Active',
    'Sedentary': 'Sedentary',
    'highly active': 'Highly Active', 
    'active': 'Active',
    'sedentary': 'Sedentary'}
ds['Activity Level'] = ds['Activity Level'].replace(activity_map)
# Convert all the entries into one standard format. Eg - Highly_Active to Highly Active

In [91]:
ds.head()

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Active,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly Active,6

In [92]:
ds.tail()

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
9995,1524.0,78.819386,98.931927,2948.491953,7.402748595032027,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.3821659358529015,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.91654920303435,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691233932149209,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001039740254,Active,5

In [93]:
# Convert to Proper Types and Handle Errors 
numeric_cols = ['Heart Rate (BPM)', 'Blood Oxygen Level (%)', 'Step Count', 'Sleep Duration (hours)']
for col in numeric_cols:
    ds[col] = pd.to_numeric(ds[col], errors='coerce')

In [94]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239,Highly Active,5
2,1860.0,247.803052,97.052954,2826.521994,NaN,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly Active,6
...,...,...,...,...,...,...,...
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691234,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Active,5

In [95]:
# Drop duplicates
ds.drop_duplicates(inplace=True)

In [96]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239,Highly Active,5
2,1860.0,247.803052,97.052954,2826.521994,NaN,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly Active,6
...,...,...,...,...,...,...,...
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691234,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Active,5

In [97]:
ds.head(100)

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239,Highly Active,5
2,1860.0,247.803052,97.052954,2826.521994,NaN,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly Active,6
...,...,...,...,...,...,...,...
95,2129.0,90.920941,98.668344,2125.795897,5.888655,NaN,4
96,4843.0,86.957675,98.978298,4677.617159,7.088512,Highly Active,8
97,4893.0,66.120787,95.600406,1094.903090,8.280848,Highly Active,2
98,2500.0,40.000000,95.107991,10975.782024,8.347840,Active,4
99,1702.0,91.495122,97.931180,81.400702,6.755557,Active,6

In [98]:
# Drop missing values
ds = ds.dropna(subset=['Heart Rate (BPM)', 'Blood Oxygen Level (%)', 'Step Count', 'Sleep Duration (hours)'], how='any')

In [99]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3
5,2095.0,96.285938,94.202910,10205.992256,8.378343,Highly Active,10
6,4772.0,47.272257,95.389760,3208.781177,7.871146,Sedentary,2
7,4092.0,81.733497,95.981343,6051.249857,5.224139,Sedentary,1
...,...,...,...,...,...,...,...
9994,1942.0,77.912299,98.640583,10061.145291,5.428635,Sedentary,10
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Active,5

In [100]:
from sklearn.preprocessing import MinMaxScaler
# Normalize Heart Rate
ds = ds.copy()
scaler = MinMaxScaler()
ds.loc[:, 'Heart Rate Norm'] = scaler.fit_transform(ds[['Heart Rate (BPM)']])

# Feature engineering
ds.loc[:, 'Steps_per_Hour_Sleep'] = ds.loc[:, 'Step Count'] / ds.loc[:, 'Sleep Duration (hours)']

In [101]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level,Heart Rate Norm,Steps_per_Hour_Sleep
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1,0.073812,760.459243
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3,0.000000,1872.656351
5,2095.0,96.285938,94.202910,10205.992256,8.378343,Highly Active,10,0.219358,1218.139751
6,4772.0,47.272257,95.389760,3208.781177,7.871146,Sedentary,2,0.028341,407.663785
7,4092.0,81.733497,95.981343,6051.249857,5.224139,Sedentary,1,0.162644,1158.324803
...,...,...,...,...,...,...,...,...,...
9994,1942.0,77.912299,98.640583,10061.145291,5.428635,Sedentary,10,0.147752,1853.347292
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7,0.151287,398.296918
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2,0.033643,740.441900
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4,0.131860,371.788299
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Active,5,0.117165,95.711826

In [102]:
# Convert to numeric 
pd.set_option('future.no_silent_downcasting', True)
ds.loc[:, 'Stress Level'] = pd.to_numeric(ds['Stress Level'], errors='coerce')

# Calculate median 
median_val = ds.loc[:, 'Stress Level'].median()

# Impute missing values with median
ds.loc[:, 'Stress Level'] = ds['Stress Level'].fillna(median_val).infer_objects(copy=False)

In [103]:
# Discretize Heart Rate into bins (Low, Normal, High)
bins = [0, 60, 100, np.inf]
labels = ['Low', 'Normal', 'High']
ds.loc[:, 'Heart_Rate_Category'] = pd.cut(ds['Heart Rate (BPM)'], bins=bins, labels=labels)

stress_bins = [0, 3, 7, 10]
stress_labels = ['Low', 'Medium', 'High']
ds.loc[:, 'Stress_Level_Category'] = pd.cut(ds['Stress Level'], bins=stress_bins, labels=stress_labels, include_lowest=True)

In [104]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level,Heart Rate Norm,Steps_per_Hour_Sleep,Heart_Rate_Category,Stress_Level_Category
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1.0,0.073812,760.459243,Low,Low
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3.0,0.000000,1872.656351,Low,Low
5,2095.0,96.285938,94.202910,10205.992256,8.378343,Highly Active,10.0,0.219358,1218.139751,Normal,High
6,4772.0,47.272257,95.389760,3208.781177,7.871146,Sedentary,2.0,0.028341,407.663785,Low,Low
7,4092.0,81.733497,95.981343,6051.249857,5.224139,Sedentary,1.0,0.162644,1158.324803,Normal,Low
...,...,...,...,...,...,...,...,...,...,...,...
9994,1942.0,77.912299,98.640583,10061.145291,5.428635,Sedentary,10.0,0.147752,1853.347292,Normal,High
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7.0,0.151287,398.296918,Normal,Medium
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2.0,0.033643,740.441900,Low,Low
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4.0,0.131860,371.788299,Normal,Medium
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Active,5.0,0.117165,95.711826,Normal,Medium

In [105]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
ds.loc[:, ['hr_norm', 'ox_norm', 'steps_norm', 'sleep_norm']] = scaler.fit_transform(ds[['Heart Rate (BPM)', 'Blood Oxygen Level (%)', 'Step Count', 'Sleep Duration (hours)']])

ds.loc[:, 'Health_Score'] = (
    0.25 * ds['hr_norm'] +
    0.25 * ds['ox_norm'] +
    0.25 * ds['steps_norm'] +
    0.25 * ds['sleep_norm']
)
print(ds.loc[:, ['Health_Score']].describe())

       Health_Score
count   8851.000000
mean       0.390110
std        0.065352
min        0.129332
25%        0.346686
50%        0.391807
75%        0.433873
max        0.769815

In [106]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level,Heart Rate Norm,Steps_per_Hour_Sleep,Heart_Rate_Category,Stress_Level_Category,hr_norm,ox_norm,steps_norm,sleep_norm,Health_Score
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1.0,0.073812,760.459243,Low,Low,0.073812,0.870738,0.087212,0.596828,0.407147
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3.0,0.000000,1872.656351,Low,Low,0.000000,0.662737,0.220793,0.613088,0.374154
5,2095.0,96.285938,94.202910,10205.992256,8.378343,Highly Active,10.0,0.219358,1218.139751,Normal,High,0.219358,0.370483,0.163318,0.695015,0.362044
6,4772.0,47.272257,95.389760,3208.781177,7.871146,Sedentary,2.0,0.028341,407.663785,Low,Low,0.028341,0.499365,0.051338,0.653896,0.308235
7,4092.0,81.733497,95.981343,6051.249857,5.224139,Sedentary,1.0,0.162644,1158.324803,Normal,Low,0.162644,0.563606,0.096827,0.439297,0.315594
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1942.0,77.912299,98.640583,10061.145291,5.428635,Sedentary,10.0,0.147752,1853.347292,Normal,High,0.147752,0.852378,0.161000,0.455876,0.404252
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7.0,0.151287,398.296918,Normal,Medium,0.151287,0.884016,0.047172,0.615922,0.424599
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2.0,0.033643,740.441900,Low,Low,0.033643,0.540986,0.075613,0.533181,0.295856
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4.0,0.131860,371.788299,Normal,Medium,0.131860,0.776939,0.041139,0.576505,0.381610
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Active,5.0,0.117165,95.711826,Normal,Medium,0.117165,0.834463,0.008703,0.477147,0.359369

In [107]:
ds.isna().sum()

User ID                   177
Heart Rate (BPM)            0
Blood Oxygen Level (%)      0
Step Count                  0
Sleep Duration (hours)      0
Activity Level            182
Stress Level                0
Heart Rate Norm             0
Steps_per_Hour_Sleep        0
Heart_Rate_Category         0
Stress_Level_Category       0
hr_norm                     0
ox_norm                     0
steps_norm                  0
sleep_norm                  0
Health_Score                0
dtype: int64

In [108]:
# Replace empty strings with NaN
ds['Activity Level'] = ds['Activity Level'].replace('', np.nan)

# Fill NaN with 'NA'
ds['Activity Level'] = ds['Activity Level'].fillna('NA')

In [109]:
ds.isna().sum()

User ID                   177
Heart Rate (BPM)            0
Blood Oxygen Level (%)      0
Step Count                  0
Sleep Duration (hours)      0
Activity Level              0
Stress Level                0
Heart Rate Norm             0
Steps_per_Hour_Sleep        0
Heart_Rate_Category         0
Stress_Level_Category       0
hr_norm                     0
ox_norm                     0
steps_norm                  0
sleep_norm                  0
Health_Score                0
dtype: int64

In [110]:
ds = ds.dropna(subset=['User ID'])

In [111]:
ds.isna().sum()

User ID                   0
Heart Rate (BPM)          0
Blood Oxygen Level (%)    0
Step Count                0
Sleep Duration (hours)    0
Activity Level            0
Stress Level              0
Heart Rate Norm           0
Steps_per_Hour_Sleep      0
Heart_Rate_Category       0
Stress_Level_Category     0
hr_norm                   0
ox_norm                   0
steps_norm                0
sleep_norm                0
Health_Score              0
dtype: int64

In [112]:
# Perform one-hot encoding on Activity Levels
one_hot_encoded = pd.get_dummies(ds['Activity Level'], prefix='Activity')

ds = ds.join(one_hot_encoded)

In [113]:
ds

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level,Heart Rate Norm,Steps_per_Hour_Sleep,Heart_Rate_Category,Stress_Level_Category,hr_norm,ox_norm,steps_norm,sleep_norm,Health_Score,Activity_Active,Activity_Highly Active,Activity_NA,Activity_Sedentary
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1.0,0.073812,760.459243,Low,Low,0.073812,0.870738,0.087212,0.596828,0.407147,False,True,False,False
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3.0,0.000000,1872.656351,Low,Low,0.000000,0.662737,0.220793,0.613088,0.374154,True,False,False,False
5,2095.0,96.285938,94.202910,10205.992256,8.378343,Highly Active,10.0,0.219358,1218.139751,Normal,High,0.219358,0.370483,0.163318,0.695015,0.362044,False,True,False,False
6,4772.0,47.272257,95.389760,3208.781177,7.871146,Sedentary,2.0,0.028341,407.663785,Low,Low,0.028341,0.499365,0.051338,0.653896,0.308235,False,False,False,True
7,4092.0,81.733497,95.981343,6051.249857,5.224139,Sedentary,1.0,0.162644,1158.324803,Normal,Low,0.162644,0.563606,0.096827,0.439297,0.315594,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1942.0,77.912299,98.640583,10061.145291,5.428635,Sedentary,10.0,0.147752,1853.347292,Normal,High,0.147752,0.852378,0.161000,0.455876,0.404252,False,False,False,True
9995,1524.0,78.819386,98.931927,2948.491953,7.402749,Active,7.0,0.151287,398.296918,Normal,Medium,0.151287,0.884016,0.047172,0.615922,0.424599,True,False,False,False
9996,4879.0,48.632659,95.773035,4725.623070,6.382166,Sedentary,2.0,0.033643,740.441900,Low,Low,0.033643,0.540986,0.075613,0.533181,0.295856,False,False,False,True
9997,2624.0,73.834442,97.945874,2571.492060,6.916549,Sedentary,4.0,0.131860,371.788299,Normal,Medium,0.131860,0.776939,0.041139,0.576505,0.381610,False,False,False,True
9999,4113.0,70.063864,98.475606,544.696104,5.691001,Active,5.0,0.117165,95.711826,Normal,Medium,0.117165,0.834463,0.008703,0.477147,0.359369,True,False,False,False

In [114]:
ds.to_csv('cleaned_smartwatch_health_data.csv', index=False)